.all-store-slider {
    position: relative;
    height: auto;
}

.store-wrapper-ctn {
    position: relative;
    left: 5%;

}

.store-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
    top: 0;
}

.store-img-wrapper {
    background-image: url(/public/images/mask-shape.svg);
    background-size: 50vw;
    background-repeat: no-repeat;
    filter: drop-shadow(-4px 9px 0px #D9C592) drop-shadow(0px -10px 0px #FFDC60);
}

.store-mask {
    width: 51vw;
    mask-image: url(/public/images/mask-shape.svg);
    mask-repeat: no-repeat;
    mask-size: 50vw;
}

.active-store {
    opacity: 1;
}

@media screen and (max-width: 1100px) {
    .all-store-slider {
        z-index: 99;
        width: 85vw;
        margin: 12% auto 0 auto;
    }
    .store-wrapper-ctn {
        width: 100%;
        left: 0;
    }

    .store-wrapper-ctn > .store-img-cropper {
        margin-bottom: 50px;
    }
    .store-wrapper {
        flex-direction: column;
        width: 86vw;
    }
    .store-img-wrapper {
        background-size: 85vw;
    }
    .store-mask {
        width: 86vw;
        mask-image: url(/public/images/mask-shape.svg);
        mask-repeat: no-repeat;
        mask-size: 85vw;
    }
    
}

@media screen and (max-width: 512px) {
    .all-store-slider {
        margin-top: 30%;
        width: 100%;
    }
    .store-wrapper {
        width: 100%;
    }
    .store-wrapper-ctn > .store-img-cropper {
        width: 138vw;
        margin-left: -20vw;
    }
    .store-img-wrapper {
        background-size: 135vw;

    }
    .store-mask {
        width: 138vw;
        mask-image: url(/public/images/mask-shape.svg);
        mask-repeat: no-repeat;
        mask-size: 135vw;
    }
}