.l-section.about-2 {
    position: relative;
}

.about-2-bg {
    width: 100vw;
}

.about-dp-content {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 10%;
}

.dp-groups-img {
    width: 44vw;
}

.about-dp-right > .c-title--about__wrap {
    background: none;
    text-align: left;
    padding: 0;
    margin-left: 5%;
    min-height: 0;
    min-width: 0;
    width: 100%;
}

.about-dp-right > .c-title--about__wrap > .c-title--about {
    text-align: left;
    margin-bottom: 5%;
}
.about-dp-right {
    margin-left: 12%;
    flex-basis: 550px;
	flex-grow: 0;
	flex-shrink: 0;
}

.about-dp-right > .desc-wrapper {
    display: flex;
    align-items: baseline;
    margin-bottom: 3%;
}

.gyoza-icon {
    transform: scale(.7) translateY(7px);
    margin-right: 10px;
}


@media screen and (max-width: 1100px) {
    .about-dp-right {
        padding: 0;
        margin-left: 0;
        flex-basis: 0;
    }
    .about-dp-content{
        flex-direction: column-reverse;
        margin-top: 0;
        position: static;
    }
    .dp-groups-img {
        width: 100%;
    }
    .about-dp-right > .c-title--about {
        margin-left: 10%;
    }
    .about-dp-right > .desc-wrapper {
        margin-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 512px) {
    .dp-groups-img {
        width: 100%;
    }
    
    .about-dp-right > .c-title--about__wrap {
        background-image: url("/public/images/bao-shape.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 40%;
        padding: 8% 0;
        min-width: 350px;
        margin: 0 auto;
    }

    .about-dp-right > .c-title--about__wrap > .c-title--about {
        text-align: center;
        margin-bottom: 10%;
        margin-left: auto;

    }
    .span-h2 {
        display: block;
        margin-top: 15px;
    }
    .about-dp-right > .desc-wrapper {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding-right: 0;
    }
    .about-dp-desc {
        padding: 3% 7% 5% 7%;
    }
}