.l-section.about-1 {
    width: 100%;
    position: relative;
}

.l-section.about-1  > .c-title--about__wrap {
    position: absolute;
    top: 0;
    background-image: url("/public/images/bao-shape.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 34%;
    padding: 5% 0;
    min-width: 414.65px;
    min-height: 264.7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-20%);
}

.c-title--about{
    text-align: center;
}

.shumai, .bao, .gyouza, .hargow, .box {
    position: absolute;
}

.shumai {
    top: 40%;
    left: 0;
    width: 20vw;
    animation: kata1 1.5s infinite normal;
}

.bao {
    width: 18vw;
    top: 10%;
    left: 25%;
    animation: kata1 1.7s infinite normal;
}

.gyouza {
    top: 10%;
    right: 24%;
    width: 20vw;
    animation: kata1 1.9s infinite normal;
}

.hargow {
    width: 16vw;
    top: 40%;
    right: 5%;
    z-index: 10;
    animation: kata1 2.1s infinite normal;
}

.box {
    width: 30%;
    top: 40%;
    right: 0;
    z-index: 9;
    animation: kata1-2 2.3s infinite ease-in-out;
}

@media screen and (max-width: 1100px) {   
    .l-section.about-1 > .c-title--about__wrap {
        top: 0;
    }
    .shumai {
        width: 55%;
        top: 22%;
    }
    
    .bao {
        width:32%;
        top: 35%;
        left: 60%;
    }
    
    .gyouza {
        width:34%;
        top: 52%;
        left: 15%;
    }
    
    .hargow {
        width: 27%;
        top: 58%;
        right: 15%;
    }
    
    .box {
        width: 45%;
        top: 60%;
    }
    
}

@media screen and (max-width: 512px) {
    .l-section.about-1 > .c-title--about__wrap {
        min-width: 350px;
        width: 40%;
        padding: 8% 0;
        top: 12%;
    }
    
    .shumai {
        width: 80%;
        top: 25%;
    }
    
    .bao {
        width: 50%;
        top: 40%;
        left: 50%;
    }
    
    .gyouza {
        width: 55%;
        top: 50%;
        left: 5%;
    }
    
    .hargow {
        width: 45%;
        top: 56%;
        right: 0;
    }
    
    .box {
        width: 75%;
        top: 60%;
    }
}