.l-section.contact {
    padding-top: 20px;
}
.l-section__inner.contact {
    display: flex;
    transform: translateY(-30%);
}

.contact-left-wrap {
    padding-left: 7%;
}

.dpgroup-img {
    width: 80%;
    margin-top: 32%;
}

.contact-form-wrap {
    background-image: url("/public/images/contact-shape/contact-shape-pc.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 350px;
    margin-right: 5%;
    margin-top: 3%;
    padding: 5% 10%;
    text-align: center;
}

form {
    width: 95%;
    margin-top: 5%;
}

.form-title {
    font-weight: 700;
    font-size: 27px;
}

input[type=text], textarea, select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 7px 0;
}

textarea {
    height: 150px;
    width: 100%;
    resize: none;
}

input[type=submit] {
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #734D29;
    border: none;
    background-color: #FFDC61;
    box-shadow: 0 6px #B2966C;
    border-radius: 50px;
    padding: 10px 40px 13px 40px;
    margin-top: 30px;
    float: right;
}

input[type=submit]:hover {
    background-color: #ffd745;
    cursor: pointer;
}

label {
    float: left;
    margin-top: 5px;
}

.col-25 {
    float: left;
    text-align: left;
    width: 25%;
    margin-top: 5px;
}
  
.col-75 {
    float: right;
    text-align: right;
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.dpgroup-img-mob {
    display: none;
}
@media screen and (max-width: 1100px) {
    .l-section.contact {
        padding-top: 15%;
        margin-bottom: 15%;
    }
    .l-section__inner.contact {
        flex-direction: column;
        transform: none;
        
    }
    .contact-left-wrap {
        padding-left: 0;
    }
    .contact-left-wrap > .contact-title-wrap {
        text-align: center;
    }
    .dpgroup-img-pc {
        display: none;
    }
    .dpgroup-img-mob {
        display: block;
        width: 60%;
        margin-left: 5%;
    }
    .contact-form-wrap {
        margin: 5% auto 0 auto;
        padding: 7% 20%;
    }
}

@media screen and (max-width: 640px) {
    .l-section.contact {
        padding-top: 25%;
    }
    
    
    .dpgroup-img-mob {
        display: block;
        width: 80%;
        margin-left: -10%;
    }
    .contact-form-wrap {
        background-image: url("/public/images/contact-shape/contact-shape-mob.png");
        background-size: contain;
        margin: 5% auto 0 auto;
        padding: 20% 5% 30% 5%;
        width: 100vw;
    }

    form {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .contact-form-wrap {
        background-size: cover;
        padding: 15% 5%;

    }
}
