#hero.l-kv__wrap {
    position: relative;
    width: 100%;
    font-size: 0;
}

.l-kv__gif {
    width: 100%;
    left: 0;
    pointer-events: none;
    z-index: 99;
}

.l-kv__content {
    margin-top: 16%;
    margin-left: 10%;
    z-index: 100;
    position: absolute;
}

.h1-dumplings {
    width: 550px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.l-kv__text > h2,h3 {
    font-size: 40px;
    letter-spacing: 0.1 !important;
}

.l-kv__cta {
    margin-top: 40px;
}

.view-map-btn {
    margin-right: 75px;
    padding: 12px 60px 15px 60px;
    
}

.link-button {
    display: inline-block;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #734D29;
    border-bottom: 2px solid #734D29;
}

@media screen and (max-width: 1100px) {
    
    
    .l-kv__text {
        margin-top: 16%;
    }
    
    .l-kv__cta {
        width: 25%;
        text-align: center;
        min-width: 230px;
    }

    .view-map-btn {
        margin-bottom: 30px;
        margin-right: 0;
        padding: 12px 80px 15px 80px;
    }
}

@media screen and (max-width: 690px) {
    .h1-dumplings {
        min-width: 350px;
        width: 500px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
    
    .l-kv__text > h2,h3 {
        font-size: 30px;
        letter-spacing: 0.15em !important;
    }
} 

@media screen and (max-width: 512px) {
    .l-kv__content {
        margin-top: 12%;
        margin-left: 0;
    }

    .l-kv__text {
        text-align: center;
        margin-top: 30%;
    }
    .h1-dumplings {
        width: 90%;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
    .l-kv__text > h2,.l-kv__text > h3 {
        font-size: 24px;
        letter-spacing: 0.15em;
    }

    .l-kv__cta {
        margin: 65% auto 0 auto;
    }
    .view-map-btn {
        background-color: #FFFEDD;
    }
    .view-map-btn:hover {
        background-color: #fffeddd0;
    }
    .l-kv__cta > .link-button {
        margin-top: -10px;
    }
}