.l-section.map {
    margin-bottom: 30px;
    padding: 38% 0 10% 0;
}

.c-title--map__wrap {
    text-align: left;
    /* padding: 38% 0 8% 100px; */
    padding-left: 100px;
    z-index: 2;
    position: absolute;
}

.map-img__wrap {
    position: absolute;
    width: 80%;
    right: 5%;
    top: 0;
    z-index: 1;
}

.map-img {
    width: 100%;
}

.map-img:hover {
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .l-section.map {
        padding: 60% 0 60% 0;
    }
    .c-title--map__wrap {
        padding-left: 10%;
        margin-top: 35%;
    }
    .map-img__wrap {
        padding-top: 7%;
        right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .l-section.map {
        padding: 60% 0 120% 0;
    }
    .c-title--map__wrap {
        padding-left: 10%;
        margin-top: 95%;
    }
    .map-img__wrap {
        right: 0;
        width: 100%;
    }
}