.l-section.map {
    margin-bottom: 30px;
}

.c-title--map__wrap {
    text-align: left;
    padding-left: 100px;
    top: 75%;
    z-index: 2;
    position: absolute;
}

.map-img__wrap {
    position: absolute;
    width: 80%;
    right: 5%;
    top: 0;
    z-index: 1;
}

.map-img {
    width: 100%;
}

.map-img:hover {
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .l-section.map {
        margin-bottom: 0px;
    }
    
    .c-title--map__wrap {
        padding-left: 10%;
        margin-top: 5%;
    }
    .map-img__wrap {
        padding-top: 7%;
        right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 512px) {
    .c-title--map__wrap {
        padding-left: 10%;
        margin-top: -5%;
    }
    .map-img__wrap {
        right: 0;
        width: 100%;
    }
}